{% extends 'base.html.twig' %}

{% block title %}Actuality index{% endblock %}

{% block body %}
    <h1>Actuality index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Description</th>
                <th>Importance</th>
                <th>DateAj</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for actuality in actualities %}
            <tr>
                <td>{{ actuality.id }}</td>
                <td>{{ actuality.nom }}</td>
                <td>{{ actuality.Description }}</td>
                <td>{{ actuality.Importance }}</td>
                <td>{{ actuality.DateAj ? actuality.DateAj|date('Y-m-d H:i:s') : '' }}</td>
                <td><img src='./uploads/{{actuality.brochureFilename}}'></td>
                <td>
                    <a href="{{ path('app_actuality_show', {'id': actuality.id}) }}">show</a>
                    <a href="{{ path('app_actuality_edit', {'id': actuality.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_actuality_new') }}">Create new</a>
{% endblock %}
